@model Charity
    <center>
        <br /><br />
        <h3>Thank you for donating!</h3>
        <br />
        <div class="form-example">
            <input type="submit" value="Return to Homepage" class="btn btn-info btn-sm" asp-action="_ViewStart">
        </div>
    </center>