<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>Pelican</title>
</head>
<body>
    <nav class="navbar navbar-inverse bg-dark">
        <a class="navbar-dark text-white" href="">Pelican Bundle</a>
        <li><a href="https://localhost:44399/charity">Donate</a></li>
        <li><a href="https://localhost:44399/support">Contact Us</li>
        <li><a href="https://localhost:44399/subscription">Subscription</a></li>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
